<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>

<title>FlightSearch</title>
<link
	href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
	rel='stylesheet' type='text/css'>

<!-- <link rel="stylesheet" href="static/css/normalize.css"> -->
<!-- <link rel="stylesheet" href="static/css/style.css"> -->
<link rel="stylesheet" href="static/css/layout.css">

<script src="static/js/jquery-3.1.0.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="../static/css/Design.css"></link> -->
<!-- <script src="static/js/imageMgmt.js"></script> -->
</head>

<body align="center">

	<div th:include="../html/header"></div>
	<div th:include="../html/logoutBar"></div>
	<div th:include="../html/menubarAdmin"></div>
	<div class="wrapper col3">
		<div id="intro">
			<div id="searchFlight" th:include="../html/searchFlightForm"></div>
			
			<div id="flightTable" th:include="../html/showFlightTable"></div>
		</div>
		<br class="clear" />
	</div>
	<br class="clear" />
	<br class="clear" />


	<p th:include="../html/footer"></p>


</body>
</html>