<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>login</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>
<script src="validation.js"></script>

<body id="animate-area" align="center" >
<header id="header">
			<div class="innertube">
				<p><h1><font color="white" face="Comic Sans MS">WELCOME TO SURPRISE QUESTION</font></h1></p>
			</div>
		</header>
				
		<main>
			<div class="innertube" >
<table align="center">
<tr>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
<th>
<form name="soccer" action="/afterlogin" onsubmit="return validateForm()">
<fieldset >
    <legend>Login to Start</legend>

 Email_id <font color="red" >*</font><br></br>
  <input type="email" name="email" placeholder="email id"/><br></br><br></br>
 Password <font color="red">*</font><br></br>
  <input type="password" name="password"/><br></br><br></br>
  
  <font color="red" size="1" align="left"> * mandatory fields</font><br></br><br></br>
  <button class="button button2">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="button button2">Reset</button>
  </fieldset>
</form>
</th>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</th>
</tr>
</table>

</div>
		</main>

		<nav id="left">
			<div class="innertube" >
				<div class="blink"><font face="Comic Sans MS" size="3" color="yellow">Sign In and Sign Up</font></div><br></br>
				<ul>
					<li><form action="/login">    <button class="button button1">Login</button></form><br></br></li>
					<li><form action="/register">    <button class="button button1">Register</button></form></li>
					
				</ul>
				

			</div>
		</nav>	
		<div id="right">
			<div class="innertube" >
			<font color="white" face="Comic Sans MS">ALL LINKS</font><br></br><br></br>
				
				<a href="/index"><button class="button5">HomePage</button></a>
				<a href="/signout">signout</a>
				</div>
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>@Copyright of IIITD..     By Ricktam, Kajal,Neha
				<img src="images/iiitd.png" width="64" height="25"/></p>
			</div>
		</footer>	


</body>

</html>