<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="ISO-8859-1"/>
<meta name="google-signin-client_id" content="178430002966-aoi8es60bffe9p5gf11dmrrba8ep2umf.apps.googleusercontent.com"></meta>
<title>Insert title here</title>
</head>
<body>

<script>
var flag=0;
gapi.load(auth2,function()
{
	gapi.auth2.init();
	});

function onSignIn(googleUser) 
{
	  var profile = googleUser.getBasicProfile();
	  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	  console.log('Name: ' + profile.getName());
	  console.log('Image URL: ' + profile.getImageUrl());
	  console.log('Email: ' + profile.getEmail());
	  alert( profile.getEmail());
	  window.location="/show?email="+profile.getName();
	  
	  //document.getElementById("demo").innerHTML = "<a href='/login'>loginh</a>";
	}
/* window.onload=function signOut() 
  {
	alert('hi');
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function ()
    {
      console.log('User signed out.');
    });
  } */
</script>
<script src="https://apis.google.com/js/platform.js" async="defer"></script>


<div class="g-signin2" data-onsuccess="onSignIn"></div>
<ul>
<li th:text="${flightnum}"></li>
</ul>
</body>
</html>