<br class="clear" />
<br class="clear" />
<fieldset>
	<legend>Image Uploader</legend>

	<div id="dropbox" align="center">
		Drag and drop a file here... <br /> Or <br /> Click here<br /> <br />

		<div class="image-upload">

			<label for="file-input"> <img src="static/images/add.png" />
			</label><input id="file-input" type="file" onchange="getFileData(this)" />
		</div>
		<br />
		<div id="status"></div>
		<div id="myProgress">
			<div id="myBar">
				<div id="label"></div>
			</div>
		</div>
	</div>
</fieldset>

